<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jstech.fairy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_test"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navigation.Navi_Security.Navi_Secuity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navigation.Navi_ContactUs"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Navigation.Navi_Developers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navigation.Navi_LicenseInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navigation.Navi_Security.PasscodeManagePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Navigation.Navi_Security.PasscodeUnlockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".InfoDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fragment.Add_Diary.Write_Diary"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Fragment.Add_Diary.Crop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoreFunction.Filter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PoPupImage"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".DiaryDetail"
            android:screenOrientation="portrait"/>
    </application>

</manifest>